html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'DotGothic16', sans-serif;
}

.container {
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/michal-matlon-2IypI0KKsS8-unsplash.jpg")

}

.game-area {


}
.move-choice-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px;
    color: white;
}

.img-dice {

}

.diceImg {
    width: 150px;
    height: 150px;
}

#start-game {
    flex-direction: row;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

.dice-roll-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    padding: 40px;
    /* border: 2px solid white; */
    color: white;
    
}

.flex-area-character {
    display: flex;
    justify-content: space-between;
}

.character-details-area {
    padding: 40px;
    color: white;
}

.battle-stats {
    padding: 40px;
    color: white;
}


/* CSS */
button  {
  font-family: 'DotGothic16', sans-serif;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}